* {
    margin: 0px;
}
html {
    background-image: url(../Hunting\ Guiding\ Page\ Due\ 2:28:21/images/bgimage.jpg);
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #000;
    margin-bottom: 75px;
}
header a {
    text-decoration: none;
    color: #fff;
}
.company {
    margin: 50px 0px 20px 50px;
    margin-top: 50px;
    text-align: end;
    padding: 25px;
    font-size: 50px;
}
.logo {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    left: 350px;
    margin: 30px;
    width: 150px;
    height: 150px;
}
#mainContent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: #000;
}
.sidebar {
    border: solid 2px #000;
    margin: 25px 150px 50px 10px;
    padding-right: 10px;
    padding-top: 35px;
    background-color: #000;
}
.sidebar ul {
    list-style: none;
    margin-top: 50px;
    margin: 10px;
}
.sidebar li {
    padding-bottom: 60px;
}
.sidebar a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.sidebar a:hover {
    color: rgb(180, 145, 116);
}

/* LOOK INTO DIFFERENT BACKGROUNDS FOR MAIN CONTENT/TEXT */ 

.topInfo {
    grid-column: 2;
    grid-row: 1;
    margin-top: 25px;
    font-size: 25px;
}
.title {
    background-color: rgb(180, 145, 116);
    padding: 35px;
    padding-right: 10px;
}
.topInfo p {
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(180, 145, 116);
    padding: 35px;
}
.images {
    grid-column: 2;
    grid-row: 1;
    grid-row-gap: 10em;
    justify-content: center;
    margin-top: 345px;
}
.images img {
    display: inline;
}
.img1 {
    width: 300px;
    height: 250px;
}
.img2 {
    width: 320px;
    height: 250px;
}
.img3 {
    width: 350px;
    height: 250px;
    align-items: center;
}
.bottomInfo {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 100px;
    font-size: 20px;
    background-color: rgb(180, 145, 116);
    padding: 35px;
}
footer {
    text-align: center;
    margin-bottom: 5px;
    padding: 20px;
    color: #fff;
}
footer a {
    color: #fff;
    text-decoration: none;
    padding-right: 5px;

}
footer a:hover {
    color: rgb(180, 145, 116);
}